@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@layer components {
    .input {
        @apply px-4 py-2 border border-gray-300 rounded w-full;
    }

    .btn {
        @apply px-4 py-2 rounded font-semibold text-white bg-blue-600 hover:bg-blue-700;
    }

    .modal {
        @apply fixed inset-0 bg-black/50 flex items-center justify-center z-50;
    }

    .modal-content {
        @apply bg-white p-6 rounded shadow-md w-[90%] max-w-md;
    }
}

@keyframes dropdown {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: sacle(1);
    }
}